[submodule "Assets/SubModules/Package-EGSP/Package-Unity"]
	path = Assets/SubModules/Package-EGSP/Package-Unity
	url = https://github.com/EveryGameSPlay/Package-Unity
[submodule "Assets/SubModules/Package-EGSP/Package-Unity-Odin"]
	path = Assets/SubModules/Package-EGSP/Package-Unity-Odin
	url = https://github.com/EveryGameSPlay/Package-Unity-Odin
